.message {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 5px;
    transform: scaleX(-1);
}

.imageAndText {
    display: flex;
    gap: 30px;
    align-items: center;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    transform: scaleX(-1);
}

.text {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    color: white;
    background-color: #06c;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    border-radius: 15px;
    transform: scaleX(-1);
    align-items: end;
    position: relative;
}

.text:after {
    border: 20px solid transparent; border-bottom: 20px solid #06c;
    content: "";
    position: absolute;
    bottom: 0;
    right: -15px;
}

.name {
    font-weight: 600;
    font-size: 16px;
}

.messageText {
    font-weight: 200;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.8);
}

.time {
    font-weight: 600;
    font-size: 10px;
    color: #000;
    transform: scaleX(-1);
    width: 48px;
    text-align: center;
}