
.sidebar {
    position: absolute;
    top: 0;
    left: -500px;
    width: 317px;
    height: 100vh;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 10px 40px 0 rgba(29, 33, 38, 0.13);

}

.sidebar.open {
    top: 0;
    left: 0;
    z-index: 2;
}

.background {
    position: absolute;
    background: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.nav {
    padding-top: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;

}

.nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    color: black;
}

.nav a:hover {
    color: #3d6b99;
}

.nav .active {
    color: #3d6b99;
    text-decoration: underline;
}

.close {
    background: transparent;
    border: none;
    right: 25px;
    top: 15px;
    position: absolute;
}

.close img {
}
