
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 317px;
    height: 100vh;
    background: white;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 10px 40px 0 rgba(29, 33, 38, 0.13);
    transition: transform 0.3s ease-in-out;
    z-index: 4;
}

.sidebar.open {
    transform: translateX(0);
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    opacity: 0.3;
    width: 100%;
    height: 100%;
    z-index: 3;
}

.nav {
    padding-top: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.nav a {
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    color: black;
}

.nav a:hover {
    color: #3d6b99;
}

.active {
    color: #3d6b99 !important;
    text-decoration: underline !important;
}

.close {
    background: transparent;
    border: none;
    right: 25px;
    top: 15px;
    position: absolute;
    cursor: pointer;
}

.close img {
    width: 24px;
    height: 24px;
}