.input:focus {
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
    justify-content: start;
    align-items: start;
    gap: 5px;
}

.superInput {
}

.errorInput {
    border: 1px solid #cc1439;
}

.errorInput:focus {
    outline: none;
}

.error {
    font-weight: 400;
    font-size: 10px;
    color: #cc1439;
}
