.radio {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.radio::before {
}


.radio:checked::before {
}

.label {
    display: flex;
    gap: 11px;

}

.options {
    display: flex;
    gap: 11px;
    flex-direction: column;
}
