.App {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1100px;
}

.hw {
    padding: 24px 0px 32px 0px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hw::after {
    background-color: #d9d9d9;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100vw;
    bottom: 0;
}

.hw::before {
    background-color: #d9d9d9;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100vw;
    top: 0;
}


.hwTitle {
    font-weight: 600;
    font-size: 22px;
    color: #000;
    margin-bottom: 10px;
}
