.friendMessage {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}


.friendImageAndText {
    display: flex;
    gap: 10px;
    align-items: center;
}

.friendImageAndText img {
    width: 48px;
    height: 48px;
}

.friendText {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    color: #000;
    background-color: #f5f7fb;
    box-shadow: 0 1px 2px 0 rgba(29, 33, 38, 0.1), 0 5px 20px 0 rgba(29, 33, 38, 0.03);
    border-radius: 15px;
    position: relative;
}

.friendText:after {
    border: 20px solid transparent; border-bottom: 20px solid #f5f7fb;
    content: "";
    position: absolute;
    bottom: 0;
    left: -15px;
}

.friendName {
    font-weight: 600;
    font-size: 16px;
}

.friendMessageText {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.8);
}

.friendTime {
    font-weight: 600;
    font-size: 10px;
    color: #000;
    width: 48px;
    text-align: center;
}
