.greetingForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inputAndButtonContainer {
    display: flex;
    gap: 12px;
    align-items: start;
}

.error {
    font-weight: 400;
    font-size: 14px;
    color: #c00;
}

.input {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 372px;
    height: 36px;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    outline: none;
}

.input:focus {

}

.errorInput {
    border: 1px solid #c00;
    border-radius: 5px;
    width: 372px;
    height: 36px;
}

.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    color: #fff;
    background: #06c;
    border: 1px solid #06c;
}

.button:focus {
}

.button:active {
}

.button:disabled {
    border-radius: 3px;
    padding: 5px 24px;
    width: 78px;
    height: 36px;
    color: #fff;
    background: #06c;
    opacity: 0.5;
}

.text {
    font-weight: 400;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    font-weight: 500;
    font-size: 14px;
    color: #000;
}
