<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

=======
>>>>>>> 039147c80769dc492ed26fd72cdef6b3ae7eb448
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
<<<<<<< HEAD
    display: flex;
    align-items: start;
    justify-content: center;
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    font-family: "Montserrat", sans-serif;
=======
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
>>>>>>> 039147c80769dc492ed26fd72cdef6b3ae7eb448
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
}

<<<<<<< HEAD

=======
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
>>>>>>> 039147c80769dc492ed26fd72cdef6b3ae7eb448
