.burgerMenuIcon {
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0;
    box-shadow: 0 0 1px 0 rgba(29, 33, 38, 0.1), 0 0 40px 0 rgba(29, 33, 38, 0.13);
    background: #fff;
}

.header h1 {
    font-weight: 600;
    font-size: 24px;
    color: #000;
}