.button {
    border-radius: 3px;
    padding: 5px 24px;
    width: 132px;
    height: 30px;
    background: #06c;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    color: #fff;
    outline: none;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.disabled {
    border-radius: 3px;
    padding: 5px 24px;
    width: 133px;
    height: 30px;
    background: #004d99;
    opacity: 0.5;
    color: #002e5c;
}

.secondary {
    border: 1px solid #06c;
    color: #06c;
    background: #fff;
}

.default {
}

.red {
    background: #cc1439;
}

.default:hover {
}

.red:hover {
    background: #ff1a47;
}

.secondary:hover {
    background: #e5f0fa;
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
