.pagination {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 15px;
}

.pageButton, .activePage {
    min-width: 32px;
    height: 32px;
    margin-right: 4px;
    cursor: pointer;
    border: 1px solid #0066CC;
    background: white;
    color: #0066CC;
    border-radius: 4px;
    text-align: center;
    line-height: 30px;
}

.activePage {
    background: #0066CC;
    color: white;
}

.text1 {
    white-space: nowrap;
    margin: 0 10px;
}

.text2 {
    white-space: nowrap;
    margin-left: 10px;
}
